import { defineConfig } from 'vite'
import react from '@vitejs/plugin-react'
import path from 'path'

export default defineConfig({
  plugins: [react()],
  base: "./",
  build: {
    rollupOptions: {
      external: ['openai']
    }
  },
  resolve: {
    alias: {
      '@solopass/sdk': path.resolve(__dirname, '../sdk/index.js')
    }
  }
})
